/**
    * login.scss
    * @description: Estilos del login
    * @author: Katherine Felix 
**/

.login{

    height: 100vh;
    background-color: $white;

    .right, .left  {
        height: 100vh;
    }

    .left {
        background-size: cover;
        background-position: top;
        width: 50%;

        .logo {
            width: 60%;
        }
    }
    
    .right {
        width: 50%;
        background-color: $white;

        .form-data {
            width: 90%;
            padding: 0 $paddingExtra ;

            .title {
                transform: scaleX(1.02);
            }
        }
    }

    
}


@media screen and (min-width: 1440px) {

}

@media screen and (max-width: 992px) {

}

@media screen and (max-width: 768px) {
    
}